<!DOCTYPE html>
<html>
  <head>
    <title>QuizOne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-4">
        Leave a question, I'll get back to you. 
      </div>
      <div class="col-5 links">
        <%= link_to 'Ask a question', new_question_path %>
        
      </div>
    </header>

    <%= yield %>
  </body>
</html>
